body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    font-family: 'Lucida', monospace;
    font-weight: 600;
}

/* Entire page, made to fill browser size */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .main-content, .footer {
    padding: 20px;
    text-align: center;
}

/* Contains links to GitHub, LinkedIn etc */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 15px 0px 0px;
    gap: 15px;
}

/* Link to GitHub */ 
.github {
    width: 50px;
    height: auto;
}

/* Link to LinkedIn */
.linkedin {
    width: 50px;
    height: auto;
}

/* Link to CV */
.header > *:nth-child(3) {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.header > *:nth-child(3):hover {
    text-decoration: underline;
    color: black;
}

/* Div between the header and footer */
.main-content {
    flex-grow: 1; 

    display: flex;
    justify-content: center;
    align-items: center;
}

/* The middle rectangle */
.centre-container {
    background-color: beige;
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    overflow: auto;
}

/* Div containing content on right of centre-container */
.right {    
    height: 650px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 750px;
    align-items: center;
    justify-content: space-between;
}

.right-header, .right-body {
    width: 100%;

    display: flex;
    flex-grow: 1;
}

/* Div containing a ul */
.right-header {
    display: flex;
    border-bottom: 2px solid black; 
    border-left: 2px solid black;;
    border-radius: 0px 20px 0px 0px;
}

/* Descrption / overview goes here */
.right-body {
    height: 450px;
    border-left: 2px solid black;
    border-radius: 0px 0px 20px 0px;
}

.footer {
    display: flex;
    justify-content: flex-start;
}

/* The ul withing the right header containing both the name and pfp */
.right-header > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    align-items: center;
    border-radius: 20px;
}

/* List item containing 'Archibald Browne' */
.right-header > ul > *:nth-child(1) {
    font-size: 60px;
    padding-left: 25px;
}

/* List item containing emoji */
.right-header > ul > *:nth-child(2) {
    padding-right: 40px;
}

.right-header > ul > li > p {
    font-size: 65px;
    margin: 0;
}

/* ul containing scrollable content divs */
.content-links {
    list-style-type: none;
    padding: 0;
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
    height: 650px;
    width: 200px;
    margin: 0;
}

/* Content divs */
.content-links > * {
    background-color: #fff;
    height: 71px;
    border-radius: 20px;
    border-bottom: 2px solid black; 
}

/* University email addess */
.footer > a {
    font-size: larger;
    text-decoration: none;
    color: black;
}

.footer > a:hover {
    text-decoration: underline;
    color: black;
}


