body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .main-content, .footer {
    padding: 20px;
    text-align: center;
}

.header {
    background-color: #3498db;
    color: #fff;
}

.main-content {
    flex-grow: 1; 
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centre-container {
    background-color: beige;
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    overflow: auto;
}

.right {    
    height: 650px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 750px;
    align-items: center;
    justify-content: space-between;
}

.right-header, .right-body {
    width: 100%;
    background-color: #3498db;
    display: flex;
    flex-grow: 1;
}

.right-header {
    display: flex;
    border-bottom: 2px solid black; 
    border-left: 2px solid black;;
    border-radius: 0px 20px 0px 0px;
}

.right-body {
    height: 450px;
    border-left: 2px solid black;
    border-radius: 0px 0px 20px 0px;
}

.footer {
    background-color: #3498db;
    color: #fff;
}

.right-header > * {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background-color: antiquewhite;
    align-items: center;
    font-size: 50px;
    border-radius: 20px;
}




.content-links {
    list-style-type: none;
    padding: 0;
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
    height: 650px;
    width: 200px;
    margin: 0;
}

.content-links > * {
    background-color: #fff;
    height: 71px;
    border-radius: 20px;
    border-bottom: 2px solid black; 
}



